/* css styles */
.quarto-title-banner h1 {
    color: white;
    /* Change this to your desired color */
}

.navbar-brand {
    color: white;
}

text {
    color: white;
}

head {
    color: white;
}

body {
    background-color: white;
    color: black;
}

a {
    color: #A020F0;
}